
/*
Page template
*/

body {
  background-color: #ccc;
  background-image: url("http://socialcomputing.media.mit.edu/images/background.png");
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#page {
  height: 1000px;
  width: 960px;
  margin: auto;
  background-color: #fefefe;
  box-shadow: 0 0 15px #333;
}
