
/*
Page template
*/

body {
  background: #4fa7ff; /* Old browsers */
  background: -moz-linear-gradient(left,  #4fa7ff 0%, #f4f4f4 50%, #4fa7ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4fa7ff), color-stop(50%,#f4f4f4), color-stop(100%,#4fa7ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #4fa7ff 0%, #f4f4f4 50%, #4fa7ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #4fa7ff 0%,#f4f4f4 50%,#4fa7ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #4fa7ff 0%,#f4f4f4 50%,#4fa7ff 100%); /* IE10+ */
  background: linear-gradient(to right,  #4fa7ff 0%,#f4f4f4 50%,#4fa7ff 100%); /* W3C */
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#page {
  width: 960px;
  margin: auto;
  background-color: #fefefe;
  box-shadow: 0 0 15px #333;
}

.header {
  padding: 10px 20px;
}

/*
SVG
*/

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle {
  fill: white;
  stroke: steelBlue;
  stroke-width: 1.5px;
}

.node circle:hover {
  fill: lightBlue;
}

.node .desc {
  background: white;
  text-align: center;
  overflow: ellipsis;
}
