
/*
Page template
*/

body {
  background: #42ba37; /* Old browsers */
  background: -moz-linear-gradient(left,  #42ba37 0%, #c0efa7 50%, #42ba37 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#42ba37), color-stop(50%,#c0efa7), color-stop(100%,#42ba37)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* IE10+ */
  background: linear-gradient(to right,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* W3C */
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#page {
  width: 1100px;
  margin: auto;
  background-color: #fefefe;
  box-shadow: 0 0 15px #333;
}

.header {
  padding: 10px 20px;
  width: 700px;
  height: 150px;
  display: inline-block;
}

.header h1 {
  font-weight: 400;
}

.header h3 {
  color: #777;
  display: inline-block;
  font-weight: normal;
  margin: 0 20px;
}

.controls {
  text-align: center;
  padding: 20px 0;
}

.btn {
  margin: 0 20px;
  display: inline-block;
  border-radius: 0 14px 14px 0;
  padding: 4px 12px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:active {
  background-color: #e6e6e6;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.aux-info {
  padding: 10px 20px;
  width: 250px;
  height: 156px;
  display: inline-block;
  float: right;
  box-shadow: 0 0 10px #666;
}

.aux-info h3 {
  font-weight: 400;
}

.aux-info small {
  color: #777;
  font-weight: normal;
}

#headsupdisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  height: 180px;
  margin-top: -90px;
  z-index: 1002;
  padding: 10px 20px;
  box-shadow: 0 0 10px #666;
  background: white;
}

#headsupdisplay h3 {
  font-weight: 400;
}

#headsupdisplay small {
  color: #777;
  font-weight: normal;
}

/*
SVG
*/

.link {
  fill: none;
  stroke: SaddleBrown;
  stroke-width: 5px;
}

.node circle {
  fill: Green;
  stroke: Green;
  stroke-width: 3px;
}

.node circle:hover {
  fill: GreenYellow;
}

.node .title {
  background: white;
  text-align: center;
}

.node .desc {
  background: white;
  text-align: center;
  overflow: ellipsis;
}
