
/*
Page template
*/

body {
  background: #42ba37; /* Old browsers */
  background: -moz-linear-gradient(left,  #42ba37 0%, #c0efa7 50%, #42ba37 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#42ba37), color-stop(50%,#c0efa7), color-stop(100%,#42ba37)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* IE10+ */
  background: linear-gradient(to right,  #42ba37 0%,#c0efa7 50%,#42ba37 100%); /* W3C */
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#page {
  width: 1200px;
  margin: auto;
  background-color: #fefefe;
  box-shadow: 0 0 15px #333;
}

.header {
  padding: 6px 0;
}

.header h1 {
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 1px #999;
  margin: 10px 0;
}

.header h3 {
  color: #777;
  display: inline-block;
  font-weight: normal;
  margin: 0 20px;
}

.controls {
  text-align: center;
  margin: 14px 0;
}

.btn {
  margin: 0 20px;
  display: inline-block;
  border-radius: 0 14px 14px 0;
  padding: 4px 12px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:active {
  background-color: #e6e6e6;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*
Info box
*/

#info-heads-up {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  margin-left: -240px;
  height: 180px;
  margin-top: -90px;
  z-index: 1002;
  padding: 10px 20px;
  box-shadow: 0 0 10px #666;
  background: white;
  opacity: 0.95;
}

#info-heads-up .col-left {
  width: 106px;
  height: 100%;
  float: left;
  display: inline-block;
}

#info-heads-up .col-right {
  width: 360px;
  height: 180px;
  float: right;
  padding: 0;
  overflow-y: scroll;
  display: inline-block;
}

#info-heads-up h3 {
  font-weight: 400;
  text-shadow: 0 1px 1px #999;
}

#info-heads-up small {
  color: #777;
  font-weight: normal;
}

#info-heads-up .profile-pic-box {
  width: 104px;
  height: 104px;
  border: 1px solid #666;
  margin-top: 26px;
}

#info-heads-up img.profile-pic {
  width: 100px;
  height: 100px;
  margin: 2px;
}

#info-heads-up .profile-pic-label {
  margin: 0;
  margin-top: 4px;
  text-align: center;
}

#info-heads-up .profile-pic-label a {
  text-decoration: none;
  color: #08c;
}

#info-heads-up .profile-pic-label a:hover {
  text-decoration: underline;
  color: #005580;
}

/*
Scripts tree
*/

.canvas-container {
  display: inline-block;
}

/*
SVG
*/

.link {
  fill: none;
  stroke: SaddleBrown;
}

.node circle {
  fill: Green;
  stroke: Green;
}

.node .title {
  background: white;
  text-align: center;
}

#scripttree .link {
  stroke-width: 5px;
}

#scripttree .node circle {
  stroke-width: 3px;
}

#scripttree .node circle:hover {
  fill: GreenYellow;
  cursor: pointer;
}

#minimap .node.active {
  fill: red;
  stroke: red;
  stroke-width: 5px;
}
